<ul id="<%= @gawk.address.mash %>">
  <div id="search">
    <%= form_for @gawk, remote: true do |f| %>
      <%= f.label "Refine your search message: "%>
      <%= f.text_field :refined, value: @gawk.message, size: 80 %>
      <%= f.submit %>
    <% end %>
  </div>
  <% results = @gawk.results.all %>
  <% if results.length == 0 %>
    <p class="large">Sorry, we couldn't find any results for that search</p>
  <% else %>
    <% class_errors = results.where(classification: "class") %>
    <% message_errors = results.where(classification: "message") %>
    <div class="overflow">
      <li> class="large">Search StackOverflow by Error Class</li>
      <% class_errors.each do |error| %>
        <li><%= fa_icon "stack-overflow" %> <a href="<%= error.url %>"><%= error.title %></a></li>
      <% end %>
    <div class="divider"></div>
      <li class="large">Search StackOverflow by Error Message</li>
      <%if message_errors[0].title == "title" %>
        <% message_errors[0].title = "Sorry, StackOverflow couldn't find any results that matched your message error, try refining your search in the box above!" %>
        <% message_errors[0].url = "http://stackoverflow.com" %>
      <% end %>
      <% message_errors.each do |error| %>
        <li><%= fa_icon "stack-overflow" %> <a href="<%= error.url %>"><%= error.title %></a></li>
      <% end %>
    </div>
    <div id="ruby">
        <li class="ruby_docs"><a href="http://www.ruby-doc.org/core-2.1.5/<%= @gawk.error_class.gsub(/\s+/, "") %>.html"><img src="/assets/ruby.png" alt="Stack Overlord"><p><%= @gawk.error_class %></p></a></li>
    </div>
  <% end %>
</ul>
