<ul id="<%= @gawk.address.mash %>">
  <div id="search">
    <%= form_for @gawk, remote: true do |f| %>
      <%= f.label "Refine your search message: "%>
      <%= f.text_field :refined, value: @gawk.message, size: 80 %>
      <%= f.submit %>
    <% end %>
  </div>
  <% results = @gawk.results.all %>
  <% if results.length == 0 %>
    <p class="large">Sorry, we couldn't find any results for that search</p>
  <% else %>
    <% if @gawk.refined %>
      <% error_message = @gawk.refined %>
    <% else %>
      <% error_message = @gawk.message %>
    <% end %>
    <div class="overflow">
      <li class="large">Search StackOverflow by Error Class</li>
      <% if results[0] %>
        <li><%= fa_icon "stack-overflow" %> <a href="<%= results[0].url %>"><%= results[0].title %></a></li>
      <% end %>
      <% if results[2] %>
        <li><%= fa_icon "stack-overflow" %> <a href="<%= results[2].url %>"><%= results[2].title %></a></li>
      <% end %>
      <% if results[4] %>
        <li><%= fa_icon "stack-overflow" %> <a href="<%= results[4].url %>"><%= results[4].title %></a></li>
      <% end %>
    <div class="divider"></div>
      <li class="large">Search StackOverflow by Error Message</li>
      <%if results[1].title == "title" %>
        <% results[1].title = "Sorry, StackOverflow couldn't find any results that matched your message error" %>
        <% results[1].url = "http://stackoverflow.com" %>
      <% end %>
      <% if results[1] %>
        <li><%= fa_icon "stack-overflow" %> <a href="<%= results[1].url %>"><%= results[1].title %></a></li>
      <% end %>
      <% if results[3] %>
        <li><%= fa_icon "stack-overflow" %> <a href="<%= results[3].url %>"><%= results[3].title %></a></li>
      <% end %>
      <% if results[5] %>
        <li><%= fa_icon "stack-overflow" %> <a href="<%= results[5].url %>"><%= results[5].title %></a></li>
      <% end %>
    </div>
    <div id="ruby">
        <li class="ruby_docs"><a href="http://www.ruby-doc.org/core-2.1.5/<%= @gawk.error_class.gsub(/\s+/, "") %>.html"><img src="/assets/ruby.png" alt="Stack Overlord"><p><%= @gawk.error_class %></p></a></li>
    </div>
  <% end %>
</ul>
