<!DOCTYPE html>
<html>
<head>
  <title>Stack Overlord</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://localhost:9292/faye/faye.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>
    <header>
      <h1 id="logo"><img src="/assets/title.png" alt="Stack Overlord"></a></h1>
      <p id="welcome">The Overlord will see you now...</p>
      <ul id="nonexistent">
        <% if current_user %>
          <li><%= link_to 'My profile', user_path(current_user) %></li>
          <li><%= link_to 'Logout', session_path(session), method: :delete %></li>
        <% else %>
          <li><%= link_to 'Login', new_session_path %></li>
          <li><%= link_to 'Create account', new_user_path %></li>
        <% end %>
      </ul>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
